<div class="container">
  <h1>Superheros</h1>

  <a href="/superheros/new" id="newSuperhero">Create New Superhero</a>

  <div class="superheros">
    <ul>
      <% @superheros.each do |superhero| %>
        <%= erb :"superheros/_superhero", locals: {superhero: superhero}%>
      <% end %>
    </ul>
  </div>


</div>