<div class="container">
  <h1>Superheros</h1>

  <a href="/superheros/new">Create New Superhero</a>
  <div class="superheros">
    <ul>
      <% @superheros.each do |superhero| %>
        <li id="<%= superhero.id %>"><a href="/superheros/<%= superhero.id %>"><%= superhero.name %> - <%= superhero.power %></a></li>
      <% end %>
    </ul>
  </div>


</div>