<h1>Login</h1>

<% if @message %>
 <p><%= @message%></p>
<% end %>

<form action="/session" method="POST">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <input type="submit">
</form>